@import "../src/common/header/Header.scss";
@import "../src/components/homepage/HomePage.scss";
@import "../src/common/footer/Footer.scss";
@import "../src/components/auth/Auth.scss";
@import "../src/components/product/styles/Product.scss";
@import "../src/components/user/styles/UserPage.scss";
@import "../src/common/styles/common.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

// to fix bugs : ResizeObserver loop completed with undelivered notifications
iframe#webpack-dev-server-client-overlay{display:none!important}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

.background {
  background: #f6f9fc;
  padding: 50px 0;
}



.d_flex {
  display: flex;
  justify-content: space-between;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.RText {
  text-align-last: right;
}

input,
button {
  border: none;
  outline: none;
  background-color: none;
}


.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}

.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}



