@import "../src/common/header/Header.scss";
@import "../src/components/homepage/HomePage.scss";
@import "../src/common/footer/Footer.scss";
@import "../src/components/auth/Auth.scss";
@import "../src/components/product/styles/Product.scss";
@import "../src/components/user/styles/User.scss";
@import "../src/common/styles/common.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

// to fix bugs : ResizeObserver loop completed with undelivered notifications
iframe#webpack-dev-server-client-overlay {
  display: none !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}

