.categories-box {
  background-color: #f6f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  border-radius: 5px;
  height: 6vh;
  position: relative;
  gap: 2vw;

  span {
    font-size: 25px;
  }

  h4 {
    font-weight: 500;
  }

  button {
    background-color: #f6f9fc;
    cursor: pointer;
  }
}

.category-list {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 18%;
  height: 300px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
  position: absolute;
  top: 7.5vh;
  left: 3.5vw;
  z-index: 9;

  span {
    margin: 10px 20px;
    text-transform: capitalize;
  }

  .box {
    transition: 0.5s;
    padding: 0 20px;
    display: flex;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }

  .box:hover {
    background-color: #ffe1e6;
    cursor: pointer;
  }
}

@media (max-width: 1230px) {
  .categories-box {
    padding: 0px 5px;
    gap: 5px span {
      margin-right: 20px;
      font-size: 25px;
    }
    button {
      background-color: #f6f9fc;
      cursor: pointer;
      i {
        margin-left: 10px;
      }
    }
  }

  .category-list {
    width: 30%;
    height: 290px;
    padding: auto;
    position: absolute;
    top: 7.5vh;
    left: 6vw;
  }
}

@media (max-width: 670px) {
  .category-list {
    width: 52%;
    left: 12vw;
  }
}
