@import "../homepage/Slide/Slider.scss";
@import "../homepage/CartsCategory/Carts.scss";
@import "../homepage/Slogan/Slogan.scss";

.container-homepage{
  display: flex;
  flex-direction: column;
}

@media (max-width: 996px) { 
  .container-homepage{
    margin: 0 1em 0 1em;
  }
}