@import "../header/Categories/Categories.scss";
@import "../header/Search/Search.scss";
@import "../header/NavLinkMenu/NavLinkMenu.scss";

header {
  height: 8vh;
  box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
  padding-left: 1em;
  padding-right: 1em;
}

.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;

  .logo {
    padding-top: 10px;
  }
  .logo img {
    width: 40px;
  }
}

@media (max-width: 1100px) {
  header ul {
    padding-top: 30px;
  }

  .header.active {
    height: 10vh;
  }
}
