.container-CU-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:50px auto;
  gap: 40px;
  background: #d5f3e3;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  width: fit-content;
  padding: 30px;
  border-radius: 5px;

  .title-CU-product{
    font-size: 2em;
    color: rgb(98, 178, 151);
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width:60vw;
    .box-label-input{
      display: flex;
      align-items: first baseline;
    }
    label{
      color: #43514c;
      font-weight: 700;
      font-size: 18px;
      width: 120px;
    }
    input{
      background-color: #ffffff;
      width: 15rem;
    }
    button, input, select {
      padding: 10px;
      border-radius: 4px;
      font-size: 17px
    }
    button{
      margin-top: 20px;
      color: aliceblue;
      background-color: rgb(98, 178, 151);
      width: 100px;
      cursor: pointer;
    }
    button:hover{
      background-color: #bac0be;
      color: #43514c;
    }
  }
}

@media(max-width:420px){
  .container-CU-product{
    width: 90vw;
    .title-CU-product{
      font-size: 1.4em;
    }
    form{
    width: 83vw;
    }
  }
  .box-label-input{
    flex-direction: column;
  }
}