.user-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  a {
    background-color: rgb(210 235 227);
    color: #061a15;
    font-size: 1rem;
    width: fit-content;
    text-align: center;
    border-radius: 5px;
    padding: 2px 8px;
  }
  a:hover {
    background-color: #bac0be;
    color: #43514c;
  }
}

.user-detail-table {
  border-collapse: collapse;
  font-size: 1rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  width: 700px;

  tr {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dddddd;
    transition: all 0.1s ease-in;
    background-color: #f0eeee;

    th {
      background: rgb(98, 178, 151);
      color: #fff;
      text-align: left;
      font-weight: bold;
      padding: 10px;
      min-width: 150px;
    }

    td {
      color: #817373;
      text-align: left;
      font-weight: bold;
      padding: 10px;
      height: auto;
    }
  }

  tr:hover {
    background: #dddddd;
  }
}

@media (max-width: 730px) {
  .user-detail {
    h2 {
      width: 300px;
    }
  }
  .user-detail-table {
    width: 350px;

    .username {
      width: 300px;
    }

    tr {
      display: flex;
      flex-direction: column;
      th {
        display: none;
      }
      td {
        min-height: 50px;
      }
    }
  }
}
